body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image: url('Login.jpg');
    background-size: cover;
    background-position: center;
}

.WelcomeAndInfo {
    padding: 50px;
    color: #FF69B4;
    text-align: center;
}

.WelcomeBack {
    font-size: 55px;
    margin-bottom: 10px;
    color: #A02467;
}

.InfoMessage {
    font-size: 22px;
    margin-bottom: 0;
    color: #E41C7C;
}

.LoginForm {
    background: linear-gradient(20%, #000000 14%), linear-gradient(60%, #FF69B4 0%, #FF69B4 100%);
    background-blend-mode: multiply, normal;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.1);
    width: 40%;
    backdrop-filter: blur(10px);
}

.LoginTitle {
    color: #EC2383;
    font-size: 36px;
    margin-bottom: 10px;
}

.GladYouReBack {
    color: #C01E59;
    font-size: 18px;
    margin-bottom: 30px;
}

.InputField {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #FF69B4;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FF69B4;
    border-radius: 5px;
}

.LoginButton {
    background-color: #E41C7C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.RegisterLink {
    font-size: 14px;
    color: #FF69B4;
    margin-top: 20px;
}

/* New styles for password visibility icon */
.PasswordContainer {
    position: relative;
}

.EyeIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('eye-icon.png');
    background-size: cover;
    cursor: pointer;
}
